@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

img, embed, object, video 
{
  max-width: 100%; 
}

html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/* .container {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1200px; 
}*/


/*========= Nav ==============*/

.headerCon
{
	background: #2e7551;
	background: -moz-linear-gradient(top, #2e7551 1%, #35845b 50%, #2e7551 100%); 
	background: -webkit-linear-gradient(top, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	background: linear-gradient(to bottom, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7551', endColorstr='#2e7551',GradientType=0 );
}

#mainHeader
{
	padding-right: 15px;
	padding-bottom: 15px;
	max-width: 1200px;
	margin: 0 auto;
}

#mainNav
{
  display: flex;
  flex-direction: column;
}


#mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  width: 30px;
  height: 30px;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all 400ms ease;
  margin-left: auto;
}

#mainNav button.expanded
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


#mainNav ul li a
{
  display: block;
  padding: 10px 0 10px 0; /*trbl*/
  color: #f8f8f8;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat' ,Helvetica, Arial, sans-serif;
  transition: all .3s ease-in;
}


#mainNav li:last-child
{
  margin-bottom: 10px;
}

#mainNav ul li a:hover
{
	color: #00c15e;
}

#burgerCon
{
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}


#burgerCon.slideToggle
{
  display: block;
}

#logo
{
	display: block;
	margin: 0 auto;
	max-width: 100px;
}

/*============== Welcome Section ==================*/

.hero
{
	background: url(../images/hero1.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.welcomeCon
{
	margin: 0 auto;
	max-width: 780px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 90px;
	margin-bottom: 90px;
}


.welcomeCon h2
{
	font-size: 25px;
	font-family: 'Montserrat' ,Helvetica, Arial, sans-serif;
	color: #ededed;
	text-align: center;
	font-weight: bold;
}

.welcomeWaterline
{
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 75px;
}

.introText
{
	font-size: 18px;
	font-family: 'Montserrat' ,Helvetica, Arial, sans-serif;
	color: #ededed;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.welcomeCon p
{
	font-size: 18px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #ededed;
	text-align: center;
	margin-bottom: 30px;
}

.welcomeWaterline2
{
	width: 200px;
	display: block;
	margin: 0 auto;
}

/*============= ABOUT SECTION =========*/

.aboutSection
{
	margin: 0 auto;
	max-width: 1000px;
	margin-top: 70px;
	margin-bottom: 70px;
	padding-left: 15px;
	padding-right: 15px;
}

.aboutSection h2
{
	font-size: 25px;
	font-family: 'Montserrat' ,Helvetica, Arial, sans-serif;
	color: #00A651;
	text-align: center;
	font-weight: bold;	
	margin-bottom: 20px;
}

.waterlineAbout
{
	width: 175px;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}

video
{
	max-width: 800px;
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 100px;
}

.aboutContent
{
	display: flex;
	flex-direction: row;
	margin-top: 70px;
}

.aboutIcon
{
	display: block;
	max-width: 80px;
	width: 40px;
	height: 40px;
}

.aboutContent p
{
	max-width: 820px;
	font-size:18px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #006633;
	margin-left: 30px;
}

#aboutButton
{
	max-width: 570px;
	margin: 0 auto;
	margin-top: 80px;
}

.greenButton
{
	display: block;
	width: 160px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	background-color: #2e7551;
	font-size: 25px;
	color:#fff;
	text-decoration: none;
	font-family: Apple Symbols, Arial;
	margin-bottom: 35px;
}

.greyButton
{
	display: block;
	width: 160px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #e1eae6;
	font-size:25px;
	color:#006633;
	text-decoration: none;
	text-align: center;
	font-family: Apple Symbols, Arial;
	border-top: solid 1px #b1d1c1;
}
/*============= END ABOUT =============*/

/*============= MEMBERSHIP SECTION ============*/

#membership
{
	background-color: #a6a6a6;
	margin-bottom: 90px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
	padding-top: 1px;
}

#membershipText
{
	margin: 0 auto;
	max-width: 720px;
}

#membershipText h2
{
	font-size:30px;
	font-family: Apple Symbols, Arial;
	color: #fff;
	margin-top:50px;
	margin-bottom:30px;
	text-align: center;
}

#membershipText h3
{
	font-size:20px;
	font-family: Apple Symbols, Arial;
	color: #fff;
	margin-bottom:40px;
	text-align: center;
}

#membershipText p
{
	font-size:18px;
	font-family: Apple Symbols, Arial;
	color: #fff;
	text-align: center;
}

#membership img
{
	max-width:180px;
	margin: 0 auto;
	width: 115px;
	display: block;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 50px;
}

/*============= END MEMBERSHIP SECTION =========*/

/* ============= PROJECTS SECTION =============*/
.projectsCon
{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}

.projectsHeader
{
	max-width: 1010px;
	margin: 0 auto;
}

.projectsCon h2
{
	font-size: 25px;
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	color: #00a651;
	text-align: center;
	font-weight: bold;
	/*margin-top: 130px;*/
	margin-bottom: 20px;
}

.waterlineProjects
{	
	
	margin: 0 auto;
	display: block; 
	margin-bottom: 60px;
	max-width: 340px;
	width: 165px;
}

.projectsInfo
{
	font-size: 20px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #717172;
	line-height: 30px;
	text-align: center;
	margin-bottom: 100px;
}

.projects
{
	/*display: flex;
	flex-direction: row;
	justify-content: space-evenly;*/
	margin: 0 auto;
	max-width: 1320px;
}

.projectsDesc
{
	max-width: 375px;
	margin-bottom: 120px;
}

.projectsDesc img
{
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	/*height: 275px;*/
	max-width: 275px;
	max-height: 275px;
/*! width: 230px; */ /*
	height: 230px;*/
}

.projectsDesc h3
{
	/*height: 60px;*/
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 25px;
	color: #717172;
	text-align: center;
	margin-bottom: 30px;
}

.projectsDesc a
{
	display: block;
	margin: 0 auto;
	width: 160px;
	color: #03552a;
	text-align: center;
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 25px;
	text-decoration: none;
	background-color: #e1eae6;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: solid 1px #b1d1c1;
}

.projectsDesc a:hover
{
	background: #e1eae6; 
	background: -moz-linear-gradient(top, #e1eae6 0%, #c0d3c9 50%, #e1eae6 100%); 
	background: -webkit-linear-gradient(top, #e1eae6 0%,#c0d3c9 50%,#e1eae6 100%); 
	background: linear-gradient(to bottom, #e1eae6 0%,#c0d3c9 50%,#e1eae6 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eae6', endColorstr='#e1eae6',GradientType=0 );
	color:#006633
}

/* ============= END PROJECTS SECTION =============*/

/* ============= EVENTS SECTION ===================*/

#eventPage
{

	background-color: #ebebeb;
	display:flex;
	flex-direction: column;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

#eventPage h2
{
	margin-top:100px;
	font-size:25px;
	font-family: 'Montserrat' ,Andale Mono, Helvetica, sans-serif;
	color: #00a653;
	text-align: center;
	margin-bottom: 20px;
}

.waterlineEvent
{
	margin: 0 auto;
	margin-bottom: 70px;
	max-width: 350px;
	width: 165px;
}

#firstEvent
{
	max-width: 1325px;
	margin: 0 auto;
}

#anotherEvents
{
	max-width: 1325px;
	margin: 0 auto;
/*	margin-top: 100px;*/

}

.event
{
	max-width:320px;
	background-color: #e1e1e1;
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.event h3
{
	font-size:20px;
	color: #474747;
	font-family: Myriad Pro, Arial, sans-serif;
	margin:20px;
}

.event img
{
	/*max-width:380px;
	max-height: 278px;*/
	filter: brightness(.9);
	transition: transform .2s
}

.event img:hover
{
	filter: none;
	transform: scale(1.01);
}

.event p
{
	margin-top:5px;
	margin-left: 16px;
	margin-bottom: 25px;
	font-size:16px;
	color: grey;
	font-family: Myriad Pro, Arial, sans-serif;
	line-height:23px;
	height: 110px;
}

.eventButton
{
	max-width:175px;
	max-height:50px;
	background-color: #2e7551;
	font-size: 30px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	font-family: Apple Symbols, Arial;
	margin-left:25px;
	margin-top:30px;
	margin-bottom:25px;
	background-color: #2e7551;
}


.eventButton:hover
{
	background: #2e7551;
	background: -moz-linear-gradient(top, #2e7551 1%, #35845b 50%, #2e7551 100%); 
	background: -webkit-linear-gradient(top, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	background: linear-gradient(to bottom, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7551', endColorstr='#2e7551',GradientType=0 );
	color: #fff;
}

.eventButtonCon
{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 80px;
}

#bigEventButton
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	font-family: Apple Symbols, Arial;
	text-decoration: none;
	color: #fff;
	font-size:30px;
	text-align:center;
	background-color: #2e7551;
}

#bigEventButton:hover
{
	background: #2e7551;
	background: -moz-linear-gradient(top, #2e7551 1%, #35845b 50%, #2e7551 100%); 
	background: -webkit-linear-gradient(top, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	background: linear-gradient(to bottom, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7551', endColorstr='#2e7551',GradientType=0 );
	color: #fff;
}

/* ============= END EVENTS =======================*/

/* ============= NEWSLETTER ===================*/


.newsletter
{
	margin: 0 auto;
	margin-top: 80px;
	max-width: 700px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;	
}

.newsHeader
{
	font-size: 25px;
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	color: #00a651;
	text-align: center;
	margin-bottom: 30px;
}

.waterlineNewsletter
{
	display: block;
	margin: 0 auto;
	width: 200px;
	margin-bottom: 100px;
}

.accordion {
  text-align: left;
  border-bottom: solid 1.2px #00a651;
  padding: 15px 20px;
  font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
  color: #00a651;
  cursor: pointer;
  margin-bottom: 25px;
  font-size: 20px
}

.accordion:after 
{
  content: " +";
}

.accordion.plusMinus:after 
{
  content: " -";
}

.accordion-content {
  background-color: white;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

.accordion-content p
{
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
  color: #717172;
  margin-top: 10px;	
}

.accordion-content.isOpen
{
  display: block;
}


/* ============= END NEWSLETTER ===============*/

/* ============= GEAR SECTION =================*/
#gearCon
{
	position: relative;
}

#gearCon h2
{
	margin-top: 170px;
	font-size: 25px;
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	color: #00a651;
	text-align: center;
	margin-bottom: 20px;
}

.waterlineGear
{
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
}

#gearCon p
{
	margin: 0 auto;
	font-size: 20px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #717172;
	line-height: 30px;
	text-align: center;
	margin-bottom: 100px;
	max-width: 995px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.gallery
  {
	max-width: 1365px;
	margin: 0 auto;
  }

  .merch
{
	max-width: 310px;
	margin: 0 auto;
	max-height: 430px;
	margin-bottom: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

.merch img
{
	margin-bottom: 30px;
	transition: transform .2s
}

.merch img:hover
{
	filter: none;
	transform: scale(1.01);
	cursor: pointer;
}

.merch h4
{
	text-align: center;
	color: #0a0b0a;
	font-size: 20px;
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	margin-bottom: 24px;
}

.merch h5
{
	text-align: center;
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 20px;
}

/* ============= END GEAR ======================*/

/* ============ LIGHTBOX ====================*/


.lightbox{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	display: none;
}

.lightbox-on {
	display: block;
}

.lightbox-close{
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	font-size: 40px;
	position: absolute;
	color: #fff;
	right: 100px;
	top: 500px;
	cursor: pointer;
}

.lightboxImage{
	max-width: 250px;
	max-height: 250px;
	margin-top: 600px;
	border: thin solid #949393;
}

/* ============ END LIGHTBOX ================*/

/* ============ CONTACT  ====================*/
.contactCon
{
	background-color: #e1eae6;
	padding-top: 70px;
	padding-bottom: 100px;
	margin-top: 120px;
	padding-left: 12px;
	padding-right: 12px;
}

.contact
{
	max-width: 1120px;
	margin: 0 auto;
}

.contact h2
{
	font-size: 25px;
	text-align: center;
	color: #00a653;
	font-family: 'Montserrat' ,Andale Mono, Helvetica, sans-serif;
	margin-bottom: 20px;
}

.waterlineContact
{
	max-width: 380px;
	width: 165px;
	margin: 0 auto;
	display: block;
	margin-bottom: 50px;
}


.contactInfo
{
	max-width: 800px;
	margin: 0 auto;
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 20px;
	color: #717172;
	text-align: center;
	/*letter-spacing: 1px;*/
	line-height: 30px;
	margin-bottom: 100px;
}

.contact h3
{
	font-size: 25px;
	color: #00a653;
	font-family: 'Montserrat' ,Andale Mono, Helvetica, sans-serif;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 60px;
}

.contactMeeting
{
	max-width: 960px;
	margin: 0 auto;
	font-size: 20px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #717172;
	text-align: center;
	line-height: 30px;
	/*letter-spacing: 1px;*/
	padding-bottom: 130px;
}

.form
{
	background-color: #fff;
	max-width: 920px;
	margin: 0 auto;
	padding-top: 65px;
	padding-left: 10px;
	padding-right: 10px;
	/*margin-bottom: 140px;*/
}

.form h3
{
	font-size: 25px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #00a653;
	max-width: 720px;
	border-bottom: solid 1px #ececec;
	margin: 0 auto;
	text-align: left;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 45px;
}

#contactForm
{
	max-width: 720px;
	margin: 0 auto;
}


#name, #email, #phone, #subject
{
/*	max-width: 345px;*/
	max-height: 60px;
	border: solid 1px #aeaeae;
	background: #fefefe; 
	background: -moz-linear-gradient(-45deg, #fefefe 0%, #f2f2f2 100%); 
	background: -webkit-linear-gradient(-45deg, #fefefe 0%,#f2f2f2 100%); 
	background: linear-gradient(135deg, #fefefe 0%,#f2f2f2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2',GradientType=1 );
	box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
	margin-bottom: 25px;
	height: 40px;
	width: 100%;
}

#message
{
	max-width: 720px;
	margin-bottom: 40px;
	border: solid 1px #aeaeae;
	background: #fefefe; 
	background: -moz-linear-gradient(-45deg, #fefefe 0%, #f2f2f2 100%); 
	background: -webkit-linear-gradient(-45deg, #fefefe 0%,#f2f2f2 100%); 
	background: linear-gradient(135deg, #fefefe 0%,#f2f2f2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2',GradientType=1 );
	box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
	width: 100%;
}

::placeholder
{
	font-size: 18px;
	color: #aeaeae;
	font-family: Myriad Pro ,Apple Symbols, Arial, sans-serif;		/*box-shadow: 0 1px 1px rgba(0,0,0,0.15) inset;*/
	padding-top: 25px;
	padding-left: 15px;
}

#submit
{
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #00a651;	
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	font-family: Myriad Pro ,Apple Symbols, Arial, sans-serif;
	border: none;
}
/* ============ END CONTACT =================*/

/* ============ SPONSOR SECTION =============*/

	.sponsorCon
{
	background-color: #494949;
}

.sponsors
{
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 55px;
	padding-bottom: 45px;
}

.sponsorsImg
{
	max-width: 245px;
	margin: 0 auto;
}


.sponsorsImg2
{
	max-width: 245px;
	margin: 0 auto;
}

.sponsorsImg img, .sponsorsImg2 img
{
	margin-bottom: 50px;
	max-width: 245px;
}

.anglingLogo
{
	display: block;
	margin: 0 auto;
}
/* ============ END SPONSORS ================*/

/* ============ SOCIAL MEDIA ================*/

.socialMediaCon
{
	background-color: #3e3e3e;
}

.socialMedia
{
	width: 225px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 10px;
	padding-bottom: 10px;
	filter: brightness(.9);
	transition: transform .2s
}

.socialMedia a
{
	transition: transform .2s;	
}

.socialMedia a:hover
{
	transform: scale(1.15);
}
/* ============ END SOCIAL MEDIA =============*/

/* ============ FOOTER ======================*/

.footerCon
{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #303030;
}

footer
{
	max-width: 1115px;
	margin: 0 auto;
	padding-left: 10px;
}

.footerNavCon
{
	height: 265px;
	max-width: 250px;
	margin: 0 auto;
}

.footerLinks
{
	height: 265px;
	margin-bottom: 50px;
	max-width: 250px;
	margin: 0 auto;
}

.footerNavCon h3, .footerLinks h3
{
	font-size: 30px;
	font-family: Apple Symbols, Arial, sans-serif;
	text-align: center;
	color: #717172;
	border-bottom: solid 2px #717172;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.footerNav ul li , .footerLinks ul li
{	
	text-align: center;
	margin-bottom: 15px;
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 20px;
}

.footerNav ul li a, .footerLinks ul li a
{
	color: #717172;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
	font-size: 20px;

}

.footerNav ul li a:hover , .footerLinks ul li a:hover
{
	color: #00c15e;
	border-bottom: solid 3px;
	padding-bottom: 3px;
}

.footerLogo
{
	margin: 0 auto;
	padding-top: 20px;
	max-width: 185px;
	margin-bottom: 50px;
	padding-top: 20px;

}
/* ============ END FOOTER ==================*/




/* =========== MEDIA QUERIES ===============*/

/* =========== 400 PX ======================*/

@media screen and (min-width: 400px) {

	.welcomeCon h2
	{
		font-size: 27px;
	}

	.introText, .welcomeCon p
	{
		font-size: 19px;
	}
	
	.welcomeWaterline , .welcomeWaterline2
	{
		width: 210px;
	}

	.aboutSection h2, .projectsCon h2, #eventPage h2, .contact h2, .newsHeader, #gearCon h2
	{
		font-size: 30px;
	}
	
	.waterlineAbout
	{
		width: 190px;
	}
	
	#aboutButton
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.greenButton
	{
		margin-bottom: 0;
	}
  
	.waterlineProjects
	{
		width: 190px;
	}

	.projectsDesc h3
	{
		font-size: 27px;
	}

	.projectsDesc a
	{
		width: 170px;
		font-family: Apple Symbols, Arial, sans-serif;
		font-size: 27px;
	}
	
	.contactInfo, #gearCon p
	{
		font-size: 21px;
	}
	
	.contactMeeting
	{
		font-size: 21px;
	}
}

 /* ========= 480px ======================*/


@media screen and (min-width: 480px) {

	.welcomeCon h2
	{
		font-size: 30px;
	}

	.introText, .welcomeCon p
	{
		font-size: 22px;
	}
	
	.welcomeWaterline , .welcomeWaterline2
	{
		width: 230px;
	}
	
	.aboutSection h2, .projectsCon h2, #eventPage h2, .contact h2, .newsHeader, #gearCon h2
	{
		font-size: 30px;
	}
	
	.waterlineAbout
	{
		width: 190px;
	}
	
	.aboutIcon
	{
		width: 50px;
		height: 50px;
	}
	
	.aboutContent p
	{
		font-size: 22px; 
	}
	
	.greenButton, .greyButton
	{
		width: 180px;
		font-size: 28px; 
	}
	
	#membershipText h2
	{
	 font-size: 35px;
	}
	
	#membershipText h3
	{
		font-size: 23px;
	}
	
	#membershipText p
	{
		font-size: 20px;
	}
	
	.waterlineProjects
	{
		width: 200px;
	}
	
	.projectsInfo
	{
		font-size: 23px;
	}
	
	.projectsDesc h3
	{
		font-size: 27px;
	}

	.projectsDesc a
	{
		width: 170px;
		font-family: Apple Symbols, Arial, sans-serif;
		font-size: 27px;
	}
	
	.contactInfo, #gearCon p
	{
		font-size: 22px;
	}
	
	.contactMeeting
	{
		font-size: 22px;
	}
	
	.lightbox-close
	{
		right: 100px;
		top: 500px;
	}

	.lightboxImage
	{
		max-width: 400px;
		max-height: 400px;
		margin-top: 600px;
	}
	
}

/* ========= 600px ====================*/

@media screen and (min-width: 600px) {
	.hero {
    background: url(../images/hero3.jpg) no-repeat center;
    background-size: cover;
  }

	.welcomeCon h2
	{
		font-size: 35px;
	}

	.introText, .welcomeCon p
	{
		font-size: 25px;
	}
  
	.welcomeWaterline , .welcomeWaterline2
	{
		width: 250px;
	}
	
	.aboutSection h2, .projectsCon h2, #eventPage h2, .contact h2, .newsHeader, #gearCon h2
	{
		font-size: 35px;
	}
	
	.waterlineAbout, .waterlineNewsletter, .waterlineGear, .waterlineContact
	{
		width: 210px;
	}
	
	.aboutIcon
	{
		width: 55px;
		height: 55px;
	}
	
	.aboutContent p
	{
		font-size: 23px;
		margin-left: 35px;
	}
	
	.greenButton, .greyButton
	{
		width: 200px;
		font-size: 32px; 
	}
	
	#membershipText h2
	{
	 font-size: 40px;
	}
	
	#membershipText h3
	{
		font-size: 25px;
	}
	
	#membershipText p
	{
		font-size: 22px;
	}
	
	.projectsInfo
	{
		font-size: 25px;
		line-height: 35px;
	}
	
	.projectsDesc h3
	{
		font-size: 30px;
	}

	.projectsDesc a
	{
		width: 170px;
		font-family: Apple Symbols, Arial, sans-serif;
		font-size: 30px;
	}
	
	.contactInfo, #gearCon p
	{
		font-size: 23px;
	}
	
	.contactMeeting
	{
		font-size: 23px;
	}
	
	.sponsors
	{
		display: flex;
		justify-content: space-around;
	}
	
	.sponsorsImg img, .sponsorsImg2 img
	{
		width: 80%;
		margin-left: 12px;
	}
	
	.anglingLogo
	{
		margin-top: 40px;
		margin-left: 0;
	}
	
	footer
	{
		display: flex;
		flex-direction: row;
	}
	
	.footerLogo
  {
	width: 100%;
  }

}

/* ========= 800px =================== */
@media screen and (min-width: 800px) {

	.welcomeCon h2
	{
		font-size: 40px;
	}

	.introText, .welcomeCon p
	{
		font-size: 30px;
	}
  
	.welcomeWaterline , .welcomeWaterline2
	{
		width: 300px;
	}
	
	.aboutSection h2, .projectsCon h2, #eventPage h2, .contact h2, .newsHeader, #gearCon h2 
	{
		font-size: 40px;
		margin-bottom: 30px;
	}
	
	.waterlineAbout
	{
		width: 250px;
	}
	
	.aboutIcon
	{
		width: 70px;
		height: 70px;
	}
	
	.aboutContent p
	{
		font-size: 25px;
		margin-left: 35px;
	}
	
	#membership
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	#membershipText
	{
		width: 60%;
	}
	
	#membershipText h2, #membershipText h3, #membershipText p
	{
		text-align: left;
		margin: 0;
	}
	
	#membership h2
	{
		margin-top: 40px;
		margin-bottom: 20px;
	}
	
	#membership h3
	{
		margin-bottom: 10px;
	}
	
	#membership p
	{
		margin-bottom: 50px;
	}
	
	#membership img
	{
		width: 180px;
	}
	
	.projectsInfo
	{
		font-size: 26px;
		line-height: 38px;
	}
	
	.waterlineProjects, .waterlineEvent, .waterlineNewsletter, .waterlineGear, .waterlineContact
	{
		width: 240px;
	}
	
	.projects
	{
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	
	.projectsDesc
	{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		max-width: 200px;
	}
	

	.projectsDesc img
	{
		margin-bottom: 35px;
	  max-width: 200px;
	}

	.projectsDesc h3
	{
		font-size: 23px;
	}

	.projectsDesc a
	{
		font-size: 25px;
	}
	
	#firstEvent, #anotherEvents
	{
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.event
	{
		max-width: 240px;
	}
	
	
	.event h3
	{
		height: 33px;
	}
	
	#bigEventButton
	{
		font-size: 38px;
	}
	
	.accordion 
	{
	  	border-bottom: solid 1.2px #00a651;
	  	padding: 15px 40px;
	  	margin-bottom: 25px;
	  	font-size: 22px
	}
	
	.contactInfo, #gearCon p
	{
		font-size: 25px;
		line-height: 35px;
		letter-spacing: 1px;
	}
	
	.contactMeeting
	{
		font-size: 24px;
		line-height: 35px;
		letter-spacing: 1px;
	}
	
	.contact h3
	{
		font-size: 30px;
	}

	.inputCon1, .inputCon2
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.inputCon2
	{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#name, #email, #phone, #subject {
    	width: 345px;
    	height: 60px;
	}
	
	#submit
	{
		font-size: 25px;
	}
	
	.gallery
	{
		display: flex;
	}
	
	.lightbox-close{
		right: 100px;
		top: 50px;
	}

	.lightboxImage{
		max-width: 500px;
		max-height: 500px;
		margin-top: 120px;
	}

	
	
	
}
	


/*======= 900px ===========================  */

@media screen and (min-width: 900px) {
	.projectsDesc
	{
		max-width: 240px;
	}
	

	.projectsDesc img
	{
		margin-bottom: 35px;
	  max-width: 220px;
	}
	
	.event
	{
		max-width: 270px;
	}
}

/* ========= 1024px =================== */
@media screen and (min-width: 1024px) {
	
	#mainHeader
	{
		display: flex;
		flex-direction: row;
		max-width: 1062px;
		margin: 0 auto;
		padding: 0;
		padding-top: 10px;
		justify-content: space-between;
	}
	
	#button
	{
		display: none;
	}

	#logoCon
	{
		order: -1;
		width: 100px;
		height: 90px;
	}
	
	#burgerCon
	{
		display: flex;
	}
	
	#burgerMenu
	{
		display: flex;
		flex-direction: row;
	}
	
	#burgerCon ul li a
	{
		font-size: 17px;
	 margin-left: 30px;
	}
	
	#burgerCon  ul li a:hover
  {
	color: #00c15e;
	border-bottom: solid 3px;
	padding-bottom: 8px;
  }
	
	.welcomeCon
	{
		margin-top: 120px;
		margin-bottom: 120px;
		padding: 0;
	}
	
	.welcomeCon h2
	{
		font-size: 64px;
	}

	.introText, .welcomeCon p
	{
		font-size: 34px;
	}
	
	.introText
	{
		margin-top: 75px;
		margin-bottom: 50px;
	}
  
	.welcomeWaterline , .welcomeWaterline2
	{
		width: 340px;
		margin-top: 50px;
	}
	
	.aboutSection h2, .projectsCon h2, #eventPage h2, .contact h2, .newsHeader, #gearCon h2
	{
		font-size: 60px;
		margin-bottom: 30px;
	}
	
	.waterlineAbout
	{
		width: 300px;
	}
	
	.aboutSection
	{
		padding: 0;
		margin-bottom: 150px
	}
	
		.aboutIcon
	{
		width: 80px;
		height: 80px;
	}
	
	.aboutContent p
	{
		font-size: 31px;
		margin-left: 70px;
	}
	
	.greenButton, .greyButton
	{
		width: 220px;
		font-size: 40px; 
	}
	
	#membership
	{
		margin-bottom: 130px;
	}
	
	#membershipText
	{
		width: 100%;
	}
	
	#membership h2
	{
		font-size: 60px;
	}
	
	#membership h3
	{
		font-size: 30px;
	}
	
	#membership p
	{
		font-size: 28px;
	}
	
	.projectsInfo
	{
		font-size: 28px;
		line-height: 41px;
		margin-bottom: 150px;
	}
	
	.waterlineProjects, .waterlineEvent, .waterlineNewsletter, .waterlineGear, .waterlineContact
	{
		width: 340px;
	}
	
	.projectsDesc
	{
		max-width: 320px;
		margin-bottom: 160px;
	}
	

	.projectsDesc img
	{
		margin-bottom: 35px;
	  max-width: 270px;
	}
	
	.projectsDesc h3
	{
		font-size: 35px;
	}
	
	.projectsDesc a
	{
		font-size: 33px;
		width:  170px;
	}
	
	.event
	{
		margin: 0;
		max-width: 320px;
	}
	
	.event h3
	{
		height: 20px;
	}
	
	.event p
	{
		height: 100px;
	}

	#firstEvent
	{
		margin-bottom: 100px;
	}
	
	#anotherEvents
	{
		margin-bottom: 80px;
	}
	
	.contactInfo, #gearCon p
	{
		font-size: 30px;
	}
	
	.contactMeeting
	{
		font-size: 26px;
	}
	
	.contact h3
	{
		font-size: 40px;
	}

	.sponsorsImg img, .sponsorsImg2 img
	{
		width: 95%;
	}
	
	.anglingLogo
	{
		margin-top: 40px;
		margin-left: 0;
	}
	
		.sponsorsImg img:nth-child(2) , .sponsorsImg2 img:nth-child(2)
	{
		margin-bottom:  0px;
	}
	
	.gallery
	{
		margin-top: 130px;
	}

	.lightbox-close{
		right: 120px;
		top: 100px;
	}

	.lightboxImage{
		max-width: 600px;
		max-height: 600px;
		margin-top: 150px;
	}
}

/* =================== 1325px ================== */

@media screen and (min-width: 1325px) {
	#firstEvent 
	{
		width: 1325px;
		margin: 0 auto;
		margin-bottom: 100px;
	}
	
	#anotherEvents
	{
		width: 1325px;
		margin: 0 auto;
		margin-bottom: 80px;
	}
}


