@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

 .container {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1200px; 
}


/*========= Nav ==============*/

#mainHeader
{
	background: #2e7551;
	background: -moz-linear-gradient(top, #2e7551 1%, #35845b 50%, #2e7551 100%); 
	background: -webkit-linear-gradient(top, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	background: linear-gradient(to bottom, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7551', endColorstr='#2e7551',GradientType=0 );
	padding-bottom: 15px;
}

#mainNav
{
  display: flex;
  flex-direction: column;
}


#mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  width: 30px;
  height: 30px;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all 400ms ease;
  margin-left: auto;
}

#mainNav button.expanded
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


#mainNav ul li a
{
  display: block;
  padding: 10px 0 10px 0; /*trbl*/
  color: #f8f8f8;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat' ,Helvetica, Arial, sans-serif;
  transition: all .3s ease-in;
}


#mainNav li:last-child
{
  margin-bottom: 10px;
}

#mainNav ul li a:hover
{
	color: #00c15e;
}

#burgerCon
{
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}


#burgerCon.slideToggle
{
  display: block;
}

#logo
{
	display: block;
	margin: 0 auto;
	max-width: 100px;
}







